#navbar h2,
#navbar ul,
#navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 15px;
}

#history {
    height: 800px;
}

#his-image,
#his-text {
    float: none;
    width: 100%;
    height: 50%;
}

#his-text h2 {
    padding-top: 0;
}

#desctiption {
    height: 600px;
}

.three-in-raw {
    float: none;
    width: 100%;
    height: 33.3%;
    padding: 30px;
}

#main-about #about-text {
    width: 100%;
}

#about-image {
    display: none;
}

#contact-info .three-in-raw {
    border-bottom: dotted 1px #f4f4f4;
}